<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Angular2 Started</a>
        </div>
        <ul class="nav navbar-nav navbar-right" *ngIf="username">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp; Welcome, {{username}}</a></li>
            <li><a (click)="logout()" href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>